html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 5px;
  font-size: 17px;
}

.container {
  width: 98%;
  margin: auto;
}

header {
  text-align: center;
  font-size: 23px;
}

header nav ul {
  display: none;
}

.aside-one {
  display: none;
}

.aside-two {
  display: none;
}

.main-content h1 {
  font-size: 30px;
}
.main-content p {
  font-size: 20px;
}

footer h3 {
  text-align: center;
}

@media screen and (min-width: 768px) {
  header nav ul {
    display: flex;
    margin-right: 20px;
  }

  header nav ul li {
    margin-left: 20px;
    list-style-type: none;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  .main-content p {
    font-size: 21px;
  }
  .main-content h1 {
    font-size: 35px;
  }
  .main-content {
    width: 80%;
    margin: auto;
  }
  footer {
    font-size: larger;
    width: 80%;
    margin: auto;
  }
}
